* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  padding: 25px 20px;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: rgb(13, 132, 230);
  /* background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%); */
  color: white;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: 0.8rem;
  font-weight: 625;
  color: rgb(255, 255, 255);
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  row-gap: 15px;
  column-gap: 10px;
  margin-bottom: 10px;
}

.form-input {
  font-family: "Karla", sans-serif;
  border-radius: 11px;
  border: 1.2px solid #d5d4d8;
  text-indent: 5px;
}
.form-btn {
  grid-column: 25 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 11px;
  background: rgb(13, 132, 230);
  color: white;
  border: none;
  cursor: pointer;
}

.meme {
  position: relative;
}

.meme--image {
  max-width: 90%;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
@media screen and (max-width: 480px) {
  .meme--image {
    max-width: 100%;
    width: 100%;
    margin-top: 5%;
  }
  .fa-refresh {
    display: none;
  }
  .form-btn {
    grid-column: 1 / -1;
  }
  .header--project {
    font-size: 0.7rem;
    font-weight: 600;
  }
  .header--title {
    display: none;
  }
}
